<div class="card card-style mt-4 p-3">
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Dosage Form</label>
      <select class="form-control">
        <option value="" selected disabled></option>
        <option *ngFor="let drug of drugs" 
                (click)="selectDoseForm(drug.dosage_form_name)">
          {{drug.dosage_form_name}}
        </option>
      </select>
    </div>

    <div *ngIf="strengths.length > 0">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Strength</label>
        <select class="form-control">
          <option *ngFor="let strength of strengths">
            {{strength}}
          </option>
        </select>
      </div>
    </div>
    <button *ngIf="strengths.length > 0" type="submit" class="btn btn-primary">Prescribe</button>
    <button (click)="goBack()" class="btn btn-secondary">Back</button>
  </form>
</div>
