<div class="card card-style mt-4 p-3">
  <h3>{{drugName}}</h3>
  <form [formGroup]="prescriptionForm">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Quantity To Take</label>
      <select class="form-control" formControlName="quantityToTake">
        <option *ngFor="let quantity of quantityToTake" 
        [value]="quantity">
          {{quantity}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Frequency</label>
      <select class="form-control" formControlName="frequency">
        <option *ngFor="let freq of frequency" 
        [value]="freq">
        {{freq}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Time Of Day</label>
      <select class="form-control" formControlName="time">
        <option *ngFor="let time of timeOfDay" 
        [value]="time">
        {{time}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Duration To Take</label>
      <select class="form-control" formControlName="duration">
        <option *ngFor="let duration of durationToTake" 
        [value]="duration">
        {{duration}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Notes To Patient</label>
      <textarea formControlName="notes" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="form-group">
      <p>For Pharmacy</p>
      <label for="exampleFormControlTextarea1">Quantity</label>
      <input type="text" class="form-control" formControlName="drugQuantity">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Refills</label>
      <select class="form-control" formControlName="refill">
        <option *ngFor="let refill of refills" 
        [value]="refill">
        {{refill}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Prescribe</button>
    <button (click)="goBack()" class="btn btn-secondary">Back</button>
  </form>
</div>
<p>{{ prescriptionForm.value | json }}</p>
