ul {
  list-style: none;
  margin-left: -2.5rem;
  margin-bottom: 0
}

li {
  border-bottom: 2px solid black;
  color: #ebebeb;
}

li:hover {
  background-color: #df691a;
  cursor: pointer;
}

.drug-name {
  color: #418ad8;
  cursor: pointer;
}

.drug-name:hover {
  text-decoration: underline;
}

.drug-searchbox {
  margin-bottom: -1rem;
}

.drug-dropdown-menu {
  background-color: #2b3e50;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.btn-link {
  color: lime;
}