<div class="row justify-content-center mt-3">
  <div class="col-lg-4">
      <h3>Search Drugs</h3>
  </div>
</div>

<div class="row mt-1">
  <div class="col-lg-12">
    <form (ngSubmit)="onSearch()">
      <div class="form-group row justify-content-center">
        <div class="col-lg-6">
          <input class="form-control" [(ngModel)]="searchQuery" name="searchQuery" type="text" placeholder="Drug name...">
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div *ngIf="drugs">
      <ul>
        <li *ngFor="let drug of drugs">
          <a routerLink="/drugs/{{drug.product_id}}">
            {{drug.proprietary_name}}
          </a>
          <strong> Dose Form: </strong>{{drug.dosage_form_name}},
          <strong>Strength: </strong>{{drug.active_numerator_strength}}
          {{drug.active_ingred_unit}}
        </li>
      </ul>
    </div>
  </div>
</div>