<div class="row justify-content-center mt-3">
  <div class="col-lg-4 text-center">
      <h3>Search Drugs</h3>
  </div>
</div>

<div class="row mt-1 drug-searchbox">
  <div class="col-lg-12">
    <form (ngSubmit)="onSearch()">
      <div class="form-group row justify-content-center">
        <div class="col-lg-8">
          <input class="form-control" 
          (input)="dynamicSearchValue.next($event.target.value)" type="text" placeholder="Drug name...">
        </div>
        <div *ngIf="isLoading" class="col-lg-2">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="lg"></fa-icon>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row" *ngIf="selectedDrug">
  <div class="col-lg-8">
    <app-drug-details [drug]="selectedDrug"></app-drug-details>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="drug-dropdown-menu" *ngIf="drugs">
      <ul>
        <li *ngFor="let drug of drugs"
        [class.selected]="drug === selectedDrug"
        (click)="chooseDrug(drug)">
          <button class="btn btn-link" type="button">{{drug.proprietary_name}}</button>
          <strong> Dose Form: </strong>{{drug.dosage_form_name}},
          <strong>Strength: </strong>{{drug.active_numerator_strength}}
          {{drug.active_ingred_unit}}
        </li>
      </ul>
    </div>
  </div>
</div>