<div class="row justify-content-center mt-3">
  <div class="col-lg-4 text-center">
    <h3>Search Drugs <em>(Picker 2)</em></h3>
  </div>
</div>
  
<div class="row mt-1 drug-searchbox">
  <div class="col-lg-12">
    <form>
      <div class="form-group row justify-content-center">
        <div class="col-lg-8">
          <input class="form-control" 
          (input)="dynamicSearchValue.next($event.target.value)" 
          (click)="resetInput()" type="text" placeholder="Drug name...">
        </div>
        <div *ngIf="isLoading" class="col-lg-1">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="lg"></fa-icon>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="drug-dropdown-menu" *ngIf="drugs2">
      <ul>
        <li *ngFor="let drug of drugs2"
        (click)="getDrugInfo(drug.proprietary_name)"
        [class.hideDropdown]="drugClicked">
          <button class="btn btn-link" type="button">{{drug.proprietary_name}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div>
  <app-drug-details2 [drugInfo]="selectedDrug"></app-drug-details2>
</div>
  
<div class="row">
  <div class="col-lg-2">
    <button class="btn btn-outline-success" routerLink="/drugs">Picker 1</button>
  </div>
</div>